<div class="profile-root">
    <NavLink href="settings" Match="@NavLinkMatch.Prefix">
        <Avatar Alt="Person"
            Class="profile-avatar"
            Src="@User.Avatar"
        />
    </NavLink>
    <Typography Class="profile-name"
                Variant="@TypographyVariant.H5">
        @User.Name
    </Typography>
    <Typography Variant="@TypographyVariant.Body2">
        @User.Bio
    </Typography>
</div>

@code
{
    private (string Name, string Avatar, string Bio) User = (
        "Shen Zhi",
        "./images/avatars/avatar_11.png",
        "Brain Director"
    );
}
