<div class="notfound-root">
    <Grid
        Container
        Justify="@Justify.Center"
        Spacing="@Spacing.Four">
        <Grid
            Item
            Large="@GridSize.Six"
            ExtraLarge="@GridSize.Twelve">
            <div class="notfound-content">
                <Typography Variant="@TypographyVariant.H1">
                    404: The page you are looking for isn’t here
                </Typography>
                <Typography Variant="@TypographyVariant.Subtitle2">
                    You either tried some shady route or you came here by mistake.
                    Whichever it is, try using the navigation
                </Typography>
                <img
                    alt="Under development"
                    class="notfound-image"
                    src="./images/undraw_page_not_found_su7k.svg"
                />
            </div>
        </Grid>
    </Grid>
</div>
