<style>
    .root {
    height: 180px;
    }
    .container {
    display: flex;
    }
    .paper {
    margin: 8px;
    }
    .svg {
    width: 100px;
    height: 100px;
    }
    .polygon {
    fill: #fff;
    stroke: rgba(0, 0, 0, 0.12);
    stroke-width: 1;
    }
</style>

<div class="root">
    <FormControlLabel Label="Slide">
        <ControlContent>
            <Switch Checked="@SlideInProp" OnChange="@ToggleSlide" />
        </ControlContent>
    </FormControlLabel>
    <div class="container">
        <Slide Placement="@Placement.Top" In="@SlideInProp">
            <Paper RootRef="@context.RefBack" Style="@(CssUtil.ToStyle(context.Styles))" Elevation="4" Class="paper">
                <svg class="svg">
                    <polygon points="0,100 50,00, 100,100" class="polygon" />
                </svg>
            </Paper>
        </Slide>
    </div>
</div>

@code
{
    private bool SlideInProp { set; get; } = false;

    private void ToggleSlide(EventArgs args)
    {
        SlideInProp = !SlideInProp;

        Console.WriteLine($"Clicked..SlideInProp: {SlideInProp}");

        StateHasChanged();
    }
}

