@page "/"
@page "/home"

<div class="dashboard-root">
    <Grid
        Container
        Spacing="@Spacing.Four">
        <Grid
            Item
            Large="@GridSize.Three"
            Small="@GridSize.Six"
            ExtraLarge="@GridSize.Three"
            ExtraSmall="@GridSize.Twelve">
            <Typography
                Variant="@TypographyVariant.H5">
                This is the home page
            </Typography>
        </Grid>
    </Grid>
</div>
