@inherits PureComponentBase
@inject IAppState AppState

<div class="px-4">
	@if (AppState.SearchResults.Any())
	{
		<div class="title">
			<h2 class="my-3">@AppState.SearchResults.Count results</h2>
            <select class="custom-select" value="@AppState.SortOrder.ToString()" @onchange="@(e => AppState.SetSortOrder((SortOrder)Enum.Parse(typeof(SortOrder), e.Value?.ToString())))">
                <option value=@SortOrder.Price>Cheapest</option>
                <option value=@SortOrder.Duration>Quickest</option>
            </select>
		</div>

		@foreach (var item in AppState.SortedSearchResults)
		{
            <SearchResult @key="item" Itinerary="@item" Shortlisted="@IsShortlisted(item)" />
		}
	}
</div>

@code
{
    private bool IsShortlisted(IItinerary itinerary) => AppState.Shortlist.Any(it => it.Id == itinerary.Id);
}
